* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font: 15px arial;
    padding: 0;
    margin: 0;
    background: url('../img/Fondo\ De\ Madera.jpg');
    

}
.contenedor{
 
    width: 90%;
    max-width: 10000px;
    margin: auto;
    overflow: hidden;
    
    
}


 /*Diseño del encabezado*/ 

 header::before {
    content: "";
    display: block;
    margin-bottom: 10px;
}
nav img{
    border-radius: 5px;
    margin: 8px;
    border: 2px  grey ridge;
}
nav {
  display: flex;
    background: linear-gradient(to top right, rgb(131, 0, 0),rgba(0, 0, 0, 0.527) ,rgb(236, 236, 236), rgb(236, 236, 236), rgb(236, 236, 236),rgba(0, 0, 0, 0.548), rgb(131, 0, 0));
    Color: rgb(0, 0, 0);
    height: 98px;
    border: 5px  rgb(223, 213, 158) ridge;
    border-radius: 10px;
    margin: 30px;
   

}
.nav {
    display: flex;
    justify-content: space-between;
    height: 90px;
    width: 100%;
    align-items: center;

}
nav a{
    display: flex;
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    
    
}

nav li{
    display: flex;
    float: left;
    display: inline;
    


}
.nav .logo {

    justify-content: center;
    align-items: center;

    
}

nav .logo h1{
    box-shadow: 0px 0px 10px rgb(180, 180, 180);

border-radius: 10px;
font-size: 40px;


}

.enlaces-header i{
  margin-right: 5px;
    

}
.enlaces-header {
    display: flex;
    font-weight: 300;
    transition: ease-in-out 0.10s;
   
    
}


nav .enlaces-header a{
    display: flex;
    margin-right: 50px;

}
nav .resaltado, header .actual a {
   
    color: #7a0404;
    font-weight:bold;

}

#cabecera .Rojo{
    color: #7a0404;
    
}
nav a:hover{
    display: flex;
    color:#fff;
    font-weight: bold;
    
}
.hamburguer {
    position: fixed;
    display: none;
    margin-top: 20px;
    right: 30px;
    background: black;
    text-shadow: 0px 0px 7px #ffffff;
    color: #790000;
    width: 40px;
    height: 40px;
    text-align: center;
    z-index: 10000;
    cursor: pointer;
    border-radius: 10px;
    transition: color 0.5s ease-in;
}

.hamburguer>i {
    
    font-size: 25px;
    line-height: 40px;
}
/*Diseño del contenido*/
#cabecera{
    
    min-height: 500px;
    background: url('../img/Pizza.jpg')center/cover;
    text-align: center;
    color:rgb(0, 0, 0);
    border: 5px grey ridge;
    border-radius: 10px;
    margin: 20px;
}
#cabecera h1 {
    background: rgba(255, 255, 255, 0.603);
    width: 200px;
    height: 500px;
    font-size: 30px;
    margin-left: 80px;
    padding-top: 200px;
   
}

/*Diseño de suscribete a nuestras clases*/
#boletín{
   
    padding: 15px;
    color: #fff;
    border: 5px  rgb(129, 129, 129) double;
    border-radius: 10px;
    margin: 10px;
   
}
#boletín h2{ 
    text-align: center;
    color: #000000;
    font: 28px arial;
    background: #ffffff91;
    font-weight: 600;
    text-shadow: 0px 0px 3px rgb(255, 255, 255);
    border-radius: 10px;
    border: 5px  rgb(129, 129, 129) double;
}

/*Diseño de las cajas artesania, Bienestar, Calidad*/
.contenedors{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    
}
#cajas{
  display: flex;
    margin-top: 20px;
    background: url(../img/Fondo\ De\ Madera.jpg);
    
}

#cajas .caja{
 
float: left;
text-align: center;
width: 30%;
height: 320px;
padding: 8px;
border-radius: 10px;
margin: 16px;
background: url(../img/pergaminos.jpg)center/cover;
box-shadow: 0px 0px 10px rgb(255, 255, 255);
border: 3px  rgb(252, 248, 197) ridge;
opacity: 0.9;

}

#cajas .caja img{
    width: 100px;
   
    
}


#cajas .caja img{
    border: 1px solid #7a0404 ;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
}
#cajas .caja h3{
    border-radius: 5px;
    background: #7a0404;
    color: rgb(255, 255, 255);
    font: 20px arial;
    border: 2px  rgb(252, 248, 197) ridge;
}
#cajas .caja p{
    color: rgb(0, 0, 0);
    margin-top: 3px;
    padding: 3px;
   border-radius: 5px;
   font: 20px arial;
   height: 115px;
   font-weight: 400;
}
/*Diseño del link de nosotros*/

.azul{
    height: 500px;
    width: 500px;
    background: url('../img/plato.png')center/cover;
    color: #000000;
    margin-top: 20px;
    margin-left: 130px;
    padding-top: 140px;
    padding-left: 140px;
    padding-right: 140px;
  
  
}
.oscura{
    height: 500px;
    width: 500px;
    background: url('../img/plato.png')center/cover;
    color: #000000;
    margin-left: 570px;
    padding-top: 140px;
    padding-left: 140px;
    padding-right: 140px;
    margin-top: -500px;
   
   
 
   
   
}


#main-nosotros{
  
  background: url(../img/manta.jpg);
  border-radius: 200px;
  

}




.azul h1{
    color: #7a0404;
    font-size: 30px;
}

.contenedor-articulo{
    display: flex;
    align-items: left;
    flex-wrap: wrap;
    margin-top: 50px;
    justify-content: space-around;
}
.articulo{
    width: 17%;
    height: 250px;
    background: rgba(0, 0, 0, 0.856);
    margin-bottom: 50px;
    border-radius: 100px;
 
    box-shadow: 0 4px 10px rgb(83, 0, 0);
    padding: 40px;
    transition: 0,5s;
    align-items: left;

}
.articulo:hover{
    box-shadow: 0px 4px 10px rgb(0, 255, 98);
}
.articulo>i{
    font-size: 20px;
    color: white;
    background: #7a0404;
    display: inline-block;
    width: 60px;
    height: 60px;
    text-align: center;
    padding-top: 20px;
    border-radius: 50%;
    box-shadow: 0 8px 10px rgb(0, 255, 85);
}
.articulo>h3{
    font-size: 22px;
    margin-top: 50px;
    color: white;
    text-shadow: 0px 4px 10px #790000;
    font-family:'Arial Narrow', Arial, sans-serif;
}
.about-us .contenedor1 h2{
margin-top: 30px;
    color: #6d0000;
    text-shadow: 0px 0px 5px white;
   background: #000000d7;
    padding-left: 105px;
  
 

}


/* Diseño del link Menú*/




.contenedor-Menú{
    display: flex;
    align-items: left;
    flex-wrap: wrap;
    margin-top: 50px;
    justify-content: space-around;
}

img:hover{
    box-shadow: 0px 4px 10px rgb(2, 247, 255);

}
.art>img{

    border-radius: 100px;
    width: 180px;
    height: 250px;
    border: 4px rgb(233, 225, 110) ridge;
    
    
 
  
}


.overlay{
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #ffffff94;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
  border-radius: 200px;


}

.arte:hover .overlay{
    bottom: 0;
    height: 100%;

}
.art:hover .overlay{
    bottom: 0;
    height: 100%;

}

.text{
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif; 
    white-space: nowrap;
    color: #000000;
    font-size: 22px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.negrita{
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    color: #6d0000;
}

.between .contenedor2 h2{

    color: #6d0000;
    text-shadow: 0px 0px 5px white;
   background: #000000d7;
    padding-left: 105px;
  
 

}
.ween .contenedor3 h2{
    color: #6d0000;
    text-shadow: 0px 0px 5px white;
   background: #000000d7;
    padding-left: 105px;
}
.arte>img{
    border-radius: 200px;
    width: 400px;
    height: 250px;
    border: 4px rgb(233, 225, 110) ridge;
}
.contenedor-Menús{
   
    display: flex;
    align-items: left;
    flex-wrap: wrap;
    margin-top: 50px;
    justify-content: space-around;
}
/*Diseño del link contacto*/


ul {
    list-style: none;
    padding: 0;
}

.loguitos {
    text-align: center;
    font-size: 3em;
    color: white;
    
}
.loguitos span {
    color: #7a0404;
}

.contact-wrapper {
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
}

.contact-wrapper > * {
    padding: 1em;
}

.contact-form {
    background: #222222;
    color: white;
}

.contact-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact-form form label {
    display: block;
}

.contact-form form p {
    margin: 0;
    padding: 1em;
}

.contact-form form .block {
    grid-column: 1 / 3;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    color: #fff;
    border-bottom: 1px solid #7a0404;
}

.contact-form form button {
    background: #7a0404;
    border: 0;
    text-transform: uppercase;
    padding: 1em;
}

.contact-form form button:hover,
.contact-form form button:focus {
    background: #7a0404;
    color: #fff;
    transition: background-color 1s ease-out;
    outline: 0;
}


.contact-info {
    background-image: url("../img/17.jpg");
    background-repeat: no-repeat;
    background-size: 100%;

}

    .content {
        padding: 0 4em;
    }
    .contact-wrapper {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    .contact-wrapper > * {
        padding: 2em;
    }
  
      
footer {
    background:url(../img/picnic4.jpg)center/cover;
    padding: 20px 20px 20px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-family: 'Roboto', sans-serif;
    height: 320px;
    border-top: 2px  rgba(252, 248, 197, 0.685) ridge;
    
    
    
}

.partFooter {
    width: 30%;
    text-align: center;
    margin: 20px;
    
}

.partFooter h4 {
    color: #000000;
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 30px;
    text-shadow:0px 0px 5px rgb(255, 255, 255); 
    background: rgba(255, 255, 255, 0.719); 
    border-radius: 10px;
    border: 2px gray ridge;
   
}

.partFooter a {
    display: block;
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    font-weight: 500;
    transition: color .3s ease-in-out;
    margin-bottom: 15px;
 
}
.partFooter .fa-facebook-f:hover{
    background: #3b5998;
    color: white;
}
.partFooter .fa-instagram:hover{
    background: linear-gradient(to top right, #fcde30, #e9712a, #d2313b, #ae4198, #7540a1, #5443a8);
    color: white;
}
.partFooter .fa-whatsapp:hover{
    background: #00920c;
    color: white;
}
.redes{
    margin-right: 50px;
}



.social-media i {
    font-size: 20px;
    display: inline-block;
    color: #000000;
    border: 2px solid #000000;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    line-height: 36px;
    cursor: pointer;
    margin-top: 20px;
    text-align: center;
    margin-right: 15px;
    background: rgba(255, 255, 255, 0.733);
}
.partFooter>h1{
    color: #000000;
    margin-top: -10px;
    width: 400px;
    text-shadow:0px 0px 5px rgb(255, 255, 255);
   background: rgba(255, 255, 255, 0.719);
    border: 2px gray ridge;
    border-radius: 10px;
    font-size: 35px;
    
}

.partFooter .resaltado{
    color: #7a0404;
}


.container-footer hr{
    margin-top:-20px;
    border: none;
    height: 2px;
    background: rgb(88, 88, 88);
    width: 900px;
   
    box-shadow:0px 0px 5px rgb(252, 0, 0);
}
.container-footer h4{
    text-align: center;
    margin-top: 30px;
    color: rgba(119, 0, 0, 0.533);
    font-weight: bold;
    font-size: 20px;
    text-shadow:0px 0px 5px rgb(255, 255, 255);
    box-shadow:0px 0px 10px rgb(0, 0, 0);
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}

footer img{
    margin-top: -80px;
    margin-right: 1220px;
    border: 2px gray ridge;
    border-radius: 10px;
}
/*diseño responsive*/


@media screen and (max-width:800px) {
    .hamburguer{
        display: block;
    }
    .hamburguer{
        top: -17px;
        right: 4px;
    }
    nav .logo h1 {

        font-size: 30px;
       
    }
    #cabecera {
        height: 500px;
    }

    #cabecera h1 {
        background: rgba(255, 255, 255, 0.603);
        width: 200px;
        height: 490px;
        font-size: 30px;
        margin-left: 80px;
        padding-top: 200px;
       
    }
    .nav {
        padding: 0 10px;
        
    }
    #boletín h2{
        font-size: 20px;
    }
    
 
    .enlaces-header {
        position: fixed;
        background: url(../img/manta.jpg);
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        z-index: 10000;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        clip-path: circle(0.0% at 100% 0);
        
    }
    .nav .menudos {
        -webkit-clip-path: circle(150% at 100% 0);
        clip-path: circle(150% at 100% 0);
        
    }
    .nav .enlaces-header a{
        color: rgb(0, 0, 0);
       background: #ffffff93;
        font-weight: bold;
        box-shadow: 0px 0px 5px #ffffff;
        margin-left: 40px;
      
          
    }
    .nav .enlaces-header ul{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 60vh;
        align-items: center;
    }

   
 /* cajas contenido inicio*/
    .contenedors{
       width: 100%;
        height: 570px;
    }
    #cajas{
        display: flex;
          margin-top: 30px;
          background: url(../img/Fondo\ De\ Madera.jpg);
          margin-bottom: -220px;
       margin-left: 9px;
          
      }
   #cajas .caja{
    float: left;
    text-align: center;
    width: 30%;
    height: 300px;
    padding: 2px;
    border-radius: 10px;
    margin: 5px ;
    background: url(../img/pergaminos.jpg)center/cover;
    box-shadow: 0px 0px 3px rgb(255, 255, 255);
    border: 3px  rgb(252, 248, 197) ridge;
    opacity: 0.9;
    
    }
    
    #cajas .caja img{
        width: 60px;
       
        
    }
    
    #cajas .caja h3{
        border-radius: 5px;
        background: #7a0404;
        color: rgb(255, 255, 255);
        font: 13px arial;
        border: 2px  rgb(252, 248, 197) ridge;
 
    }
    #cajas .caja p{
        color: rgb(0, 0, 0);
        margin-top: 3px;
        padding: 3px;
       border-radius: 5px;
       font: 13px arial;
       height: 115px;
       font-weight: 400;
       
    }
  
    /* Footer */
    footer {
  
        background:url(../img/picnic4.jpg)center/cover;
        padding: 10px 10px 10px;
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        font-family: 'Roboto', sans-serif;
        height: 390px;
        border-top: 2px  rgba(252, 248, 197, 0.685) ridge;
        
        
    }
    .partFooter {
        width: 100%;
        text-align: center;
        margin: 10px;
        
    }

    .partFooter h4 {
        display: inline-block;
        color: #000000;
        width: 180px;
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 30px;
        text-shadow:0px 0px 5px rgb(255, 255, 255); 
        background: rgba(255, 255, 255, 0.719); 
        border-radius: 10px;
        border: 2px gray ridge;
    
    }
  .partFooter .redes{
      display: inline-block;
      font-size: 16px;
      margin-right: 20px ;
      width: 120px;
      font-weight: 600;
  }
    
    .partFooter a {
        display: inline-block;
        text-decoration: none;
        color: #000000;
        font-size: 16px;
        font-weight: 700;
        transition: color .3s ease-in-out;
        margin-bottom: 1px;
        text-align: center;
     
    }
    .partFooter .fa-facebook-f:hover{
        background: #3b5998;
        color: white;
    }
    .partFooter .fa-instagram:hover{
        background: linear-gradient(to top right, #fcde30, #e9712a, #d2313b, #ae4198, #7540a1, #5443a8);
        color: white;
    }
    .partFooter .fa-whatsapp:hover{
        background: #00920c;
        color: white;
    }
    .redes{
        margin-right: 50px;
    }
    
    
    
    .social-media i {
        font-size: 20px;
        display: inline-block;
        color: #000000;
        border: 2px solid #000000;
        border-radius: 50%;
        width: 38px;
        height: 38px;
        line-height: 36px;
        cursor: pointer;
        margin-top: 5px;
        margin-bottom: 10px;
        text-align: center;
        margin-right: 15px;
        background: rgba(255, 255, 255, 0.733);
    }
    .partFooter>h1{
        display: inline-block;
        color: #000000;
        width: 180px;
        text-shadow:0px 0px 5px rgb(255, 255, 255);
       background: rgba(255, 255, 255, 0.719);
        border: 2px gray ridge;
        border-radius: 10px;
        font-size: 20px;
        
    }
    
    .partFooter .resaltado{
        color: #7a0404;
    }
    
    
    .container-footer hr{
        margin-top:-20px;
        border: none;
        height: 2px;
        background: rgb(88, 88, 88);
        width: 900px;
       
        box-shadow:0px 0px 5px rgb(252, 0, 0);
    }
    .container-footer h4{
     
        text-align: center;
        margin-top: 10px;
        color: rgba(119, 0, 0, 0.533);
        font-weight: bold;
        font-size: 14px;
        text-shadow:0px 0px 5px rgb(255, 255, 255);
        box-shadow:0px 0px 10px rgb(0, 0, 0);
    }
    
  
    /*nosotros*/

    .azul{
        display: inline-block;
        height: 300px;
        width: 300px;
        background: url('../img/plato.png')center/cover;
        color: #000000;
        margin-top: 40px;
        margin-left: 15px;
        padding-top: 130px;
        padding-right: 50px;
        padding-left: 50px;
      
      
    }
    .oscura{
        display: inline-block;
        height: 300px;
        width: 300px;
        background: url('../img/plato.png')center/cover;
        color: #000000;
        margin-top: 10px;
        margin-left: 15px;
        padding-top: 150px;
        padding-right: 50px;
        padding-left: 50px;
       
       
       
     
       
       
    }
    
    #main-nosotros{
        display: flex;
        display: inline-block;
        margin-top: 30px;
      height: 700px;
      background: url(../img/manta.jpg);
      border-radius: 200px;
    
    
    }
    
    
    
    .azul h1{
        margin-top: -60px;
        margin-left: 5px;
        color: #7a0404;
        font-size: 20px;
    }
    .azul p{
        font-size: 13px;
  
    }
    .oscura p{
        font-size: 13px;
        padding-top: -120px;
    }
    .oscura h1{
        margin-top: -70px;
        margin-left: 5px;
        color: #7a0404;
        font-size: 20px;
    }

    .contenedor-articulo{
        display: flex;
        flex-basis: 10%;
        align-items: left;
        flex-wrap: wrap;
        margin-top: -20px;
        padding: 50px;
        justify-content: space-around;
    }
    .articulo{
        flex-basis: 30%;
        width: 17%;
        height: 100px;
        background: rgba(0, 0, 0, 0.856);
        margin-bottom: 50px;
        border-radius: 100px;
        box-shadow: 0 4px 10px rgb(83, 0, 0);
        padding: 80px;
        transition: 0,5s;
        align-items: left;
    
    }
    .articulo:hover{
        box-shadow: 0px 4px 10px rgb(0, 255, 98);
    }
    .articulo>i{
      
        font-size: 15px;
        color: white;
        background: #7a0404;
        width: 40px;
        height: 40px;
        margin-left: -20px;
        margin-top: -20px;
        text-align: center;
        padding-top: 20px;
        border-radius: 50%;
        box-shadow: 0 8px 10px rgb(0, 255, 85);
    }
    .articulo>h3{
        display: inline-block;
        font-size: 15px;
        margin-top: 60px;
        margin-left: -35px;
        color: white;
        text-shadow: 0px 4px 10px #790000;
        font-family:'Arial Narrow', Arial, sans-serif;
    }
    .about-us .contenedor1 h2{
        padding-left: 20px;
  text-align: center;
        color: #6d0000;
        text-shadow: 0px 0px 5px white;
       background: #000000d7;
       margin-top: 30px;
        
      
    }
    .art>img{

        border-radius: 100px;
        width: 160px;
        height: 250px;
        border: 4px rgb(233, 225, 110) ridge;
        
        
     
      
    }
    

    .text{
        font-weight: 600;
        font-family: Arial, Helvetica, sans-serif; 
        white-space: nowrap;
        color: #000000;
        font-size: 20px;
        position: absolute;
        overflow: hidden;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }
    
    .arte>img{
        border-radius: 200px;
        width: 300px;
        height: 200px;
        border: 4px rgb(233, 225, 110) ridge;
        margin-top: 2px;
       
    }
/*contacto*/

    .loguitos {
        text-align: center;
        font-size: 2em;
        color: white;
        
    }
    .loguitos span {
        color: #7a0404;
    }
    
    .contact-wrapper {
        box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
    }
    
    .contact-wrapper > * {
     
        padding: 2em;
    }
    
    .contact-form {
        background: #222222;
        color: white;
    }
    
    .contact-form form {
        
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    .contact-form form label {
        display: block;

    
}
.contact-info {
    background-image: none;
    background-repeat: no-repeat;
    background-size: 100%;

}
}